.home-section{
  padding: 60px;
  padding-top: 58px;
  background-color: #fafafa;
  margin: 0 auto;

  .form-header{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: #dee2e6 solid 2px;
    padding-bottom: 15px;
  }

  .form-field1{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
    padding-top: 30px;
    border-bottom: #dee2e6 solid 2px;
    padding-bottom: 15px;
    

  }
}